body {
    margin: 0;
}

.container {
    background-image: url(../img/apples.jpg);
    background-size: cover;
    width: 100%;
    height: 600px;
    min-width: 900px;
}

.header {
    display: flex;
}

.header-logo {
    justify-content: left;
    margin-top: 30px;
    margin-left: 40px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
}

.nav {
    justify-content: right;
    margin-left: auto;
    margin-top: 30px;
}

.nav-link {
    margin-right: 40px;
    text-decoration: none;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

h1 {
    text-align: center;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 150px;
    margin-bottom: 0;
}

h1 span {
    font-size: 60px;
}

.container p {
    text-align: center;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin-top: 5px;
}

.button-more {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 40px;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 170px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.first-section {
    display: flex;
    height: 200px;
    background-color: #fff;
}

.first-section p {
    justify-content: space-between;
    margin: 70px 70px;
    width: 50%;
    font-family: 'Open Sans', sans-serif;
}

.first-section p:nth-child(2) {
    font-size: 10px;
}

.first-section p span {
    font-weight: bold;
}

.main {
    background-color: #F3F3F3;
    padding-bottom: 50px;
}

.main-section h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 70px;
    padding-top: 100px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.main-section h2 span {
    font-weight: bold;
}

.section {
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
}

.image {
    position: relative;
}

.image p {
    position: absolute;
    top: 250px;
    right: 10px;
    bottom: 10px;
    left: 20px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.image p span {
    font-weight: bold;
}

.image button {
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 250px;
    left: 700px;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    width: 55px;
    height: 30px;
}

.section-text {
    text-align: center;
    margin-top: 100px;
    margin-left: 5px;
    margin-right: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.subscribe {
    margin: 0 auto;
    width: 1200px;
    background-color: #fff;
    height: 125px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.subscribe input {
    margin-top: 45px;
    width: 600px;
    height: 35px;
    background-color: #F3F3F3;
    border: 1px solid #000;
}

.subscribe input::placeholder {
    color: #000;
    font-size: 10px;
    text-align: left;
    padding-left: 10px;
}

.subscribe button {
    width: 80px;
    height: 39px;
    background-color: rgb(56, 57, 59);
    border: 0;
    color: #fff;
}

.subscribe span {
    font-weight: bold;
}

.subscribe label {
    margin-right: 10px;
}

.footer {
    background-color: #fff;
}

.footer-info {
    display: flex;
    font-family: 'Open Sans', sans-serif;
}

.footer-item {
    justify-content: space-between;
    width: 25%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 40px;
    margin-right: 40px;
}

.footer-item h3 {
    font-size: 16px;
}

.footer-item p {
    font-size: 10px;
    color: #9E9E9E;
}

.footer-item:nth-child(2) p {
    font-style: italic;
}

.footer-item:nth-child(2) p:nth-child(3) {
    color: #E8E8E8;
}

.footer-item input {
    width: 150px;
    height: 25px;
    background-color: #F3F3F3;
    border: 1px solid #000;
}

.footer-item input::placeholder {
    color: #000;
    font-size: 10px;
    text-align: left;
    padding-left: 10px;
}

.footer-item button {
    width: 80px;
    height: 29px;
    background-color: rgb(56, 57, 59);
    border: 0;
    color: #fff;
}

hr {
    color: #9E9E9E;
    opacity: 50%;
    width: 1200px;
}

.footer-container {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-cop {
    justify-content: space-between;
    margin-left: 40px;
    color: #9E9E9E;
}

.nav-footer {
    justify-content: right;
    margin-left: auto;
}

.nav-footer-link {
    margin-right: 40px;
    text-decoration: none;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
