/*Обнуление*/

*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/* Body */

body {
    font-family: 'Mali', cursive;
}

.container {
    width: 960px;
    margin: 50px auto;
    text-align: center;
    border: 1px solid rgba(128, 128, 128, 0.5);
    padding: 30px;
    box-shadow: 0px 0px 20px 3px rgba(34, 60, 80, 0.2);
}

h1 {
    font-family: 'Comforter', cursive;
    font-size: 48px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    padding-bottom: 10px;
}

.input {
    border-top: 1px solid rgba(128, 128, 128, 0.5);
    border-left: 1px solid rgba(128, 128, 128, 0.5);
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    margin: 30px 0 0 0;
    width: 70%;
    height: 30px;
    border-radius: 20px 0 0 20px;
    vertical-align: bottom;
    padding-left: 10px;
}

.button {
    width: 100px;
    height: 30px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 0 20px 20px 0;
    background-color: #fff;
    font-size: 16px;
    font-weight: bold;
    vertical-align: bottom;
}

.button:hover {
    background-color: gray;
    color: #fff;
    transition: .5s;
}

.button-delete {
    width: 20px;
    height: 15px;
    text-align: center;
    align-items: center;
    background-color: #fff;
    color: red;
}

.button-done {
    width: 20px;
    height: 15px;
    text-align: center;
    align-items: center;
    background-color: #fff;
    color: green;
    margin-left: 10px;
}

.container-list {
    display: flex;
    width: 700px;
    justify-content: space-around;
    margin: 30px auto;
}

.list {
    width: 350px;
    min-height: 300px;
    border-right: 1px solid rgba(128, 128, 128, 0.5);
}

.list-done {
    width: 350px;
    min-height: 300px;
    /* text-decoration: line-through; */
    color: green;
}

h2 {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 20px;
}

li {
    padding: 10px 0;
}


li::first-letter {
    text-transform: uppercase;
}